<!doctype html>
<html lang="nl-nl">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<title>d3 Force</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="../css/style.css">
	<style>


	</style>
</head>
<body>
	<div class="o-content-width">


	</div><!-- /.o-content-width -->


	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
	<script src="../js/jquery.min.js"></script>
	<script src="../js/d3.min.js"></script>
	
	<script>
		var dataset = {
	        nodes: [
                { name: "Adam" },
                { name: "Bob" },
                { name: "Carrie" },
                { name: "Donovan" },
                { name: "Edward" },
                { name: "Felicity" },
                { name: "George" },
                { name: "Hannah" },
                { name: "Iris" },
                { name: "Jerry" }
	        ],
	        edges: [
                { source: 0, target: 1 },
                { source: 0, target: 2 },
                { source: 0, target: 3 },
                { source: 0, target: 4 },
                { source: 1, target: 5 },
                { source: 2, target: 5 },
                { source: 2, target: 5 },
                { source: 3, target: 4 },
                { source: 5, target: 8 },
                { source: 5, target: 9 },
                { source: 6, target: 7 },
                { source: 7, target: 8 },
                { source: 8, target: 9 }
	        ]
		};

		var stack = d3.forceSimulation(),
			color = d3.scaleOrdinal(d3.schemeCategory10);

		var w = 300,
			h = 300;

		stack(dataset);


		var svg = d3.select('body')
				.append('svg')
				.attr('width', w)
				.attr('height', h);

		
	</script>
</body>
</html>
